<main>
    <div class="card c_ditail">
        <h2>{{prodotto.title}}</h2>
        <img class="ditail" src="{{prodotto.thumbnail}}" alt="{{prodotto.title}}">
        <p>{{prodotto.description}}</p>
        <p>{{prodotto.price}},00 €</p>
        <p>{{prodotto.brand}} - {{prodotto.category}}</p>
        <a href="/">indietro</a>
    </div>
</main>